<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gameforkid">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/image2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/image2"
        android:supportsRtl="true"
        android:theme="@style/GameForKids">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".play_menu"
            android:screenOrientation="portrait"
            />
        <activity android:name=".addition_caculator">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".subtraction_caculator">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".score_screenadd">
<!--                        <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->

<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->
        </activity>
        <activity android:name=".score_screensub">
<!--                                    <intent-filter>-->
<!--                                        <action android:name="android.intent.action.MAIN" />-->

<!--                                        <category android:name="android.intent.category.LAUNCHER" />-->
<!--                                    </intent-filter>-->
        </activity>
        <activity android:name=".help">
        </activity>
        <activity android:name=".timer_add">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity android:name=".timer_sub">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

        </activity>
        <activity android:name=".save_user">
<!--                     <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->
<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->
        </activity>
        <activity android:name=".save_usersub">

        </activity>
        <activity android:name=".view_score">

        </activity>
    </application>
</manifest>